body{
  margin: 0;
  background-image: url(./assets/9824285.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  /* padding: 25px 0px; */
  backdrop-filter: blur(2px);
  width: 50vw;
  /* border: 2px solid black; */
  border-radius: 50px;
  transition: 0.1s ease;
}
.clock-container:hover{
  cursor: pointer;
  transform: scale(1.15);
  backdrop-filter: blur(10px);
  
}
.clock{
  color: white;
  font-size: 5rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 20px hsl(0, 0%, 0%);
}